body {
	background-color: white;
	min-width: 960px;
}

#test-bg-1 {
	background-image: url(../resource/test.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
	height: 85%;
	min-height: 650px;
	max-height: 1100px;
}
#test-bg-1 div{
	/*position: relative;*/
}

#test-bg-2 {
	background-image: url(../resource/test.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
	height: 85%;
	min-height: 650px;
	max-height: 1100px;
}

#test-title-1 {
	background-color: white;
	height: 60%;
}

#test-title-1-1{
	background-color: gray;
	height: 40%;
}

#test-title-2 {
	background-color: black;
	height: 300px;
}


/******************************** Header ********************************/
#header-container {
	height: 5.7em;
}

#header-logo-img {
	width: 3.59em;
	height: auto;
	padding: 0;
	margin: 1.055em 0;
}

#header-navigation {
	height: 5.7em;
}

#header-navigation ul {
	float: right;
}

#header-navigation ul li{
	margin: 0 1.5em;
}

#header-navigation ul li a{
	line-height: 5.7em;
	color: black;
}

/*TODO: Dropdown nav*/

/*TODO: Move special components to centain css*/
/******************************** Banner ********************************/
#banner-content-container {
	background-image: url(../resource/index/banner/banner.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
	height: 38em;
	min-height: 650px;
	max-height: 1100px;
}

#banner-logo-container {
	height: 80%;
}

#banner-logo-container > div{
	height: 100%;
}

#banner-logo {
	background-image: url(../resource/index/banner/banner-logo.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 9.47em 9.47em;
	height: 100%;
}

#banner-slogan-container {
	height: 20%;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#banner-slogan-container > div {
	padding-top: 1em;
}

#banner-slogan-container h2, #banner-slogan-container h6 {
	color: white;
}

#banner-slogan-container h2 {
	font-size: 2.5em;
}

