body {
	background-color: white;
	min-width: 960px;
}

/******************************** Responsive for retina screen ********************************/
/*TODO: validation*/
@media	only screen and (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
	.row {
		max-width: 90rem !important;
	}
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	.row {
		max-width: 80rem !important;
	}
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {
	.row {
			max-width: 110rem !important;
		}
} /* min-width 1921px, xxlarge screens */

/******************************** Header ********************************/
#header-container {
	height: 5.7em;
}

#header-logo-img {
	width: 3.59em;
	height: auto;
	padding: 0;
	margin: 1.055em 0;
}

#header-navigation {
	height: 5.7em;
}

#header-navigation ul {
	float: right;
}

#header-navigation ul li{
	margin: 0 1.5em;
}

#header-navigation ul li a{
	line-height: 5.7em;
	color: black;
}

/*TODO: Dropdown nav*/


/******************************** Special AD ********************************/
.specialAD-container {
	/*background-image: url(../resource/index/banner/banner.jpg);*/
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
	height: 19em;
	min-height: 325px;
	max-height: 550px;
}

/******************************** Footer ********************************/
#footer-container {
	height: 22em;
	background-color: #232323;
	color: white;
}

#footer-items-container {
	padding-top: 3em;
}

#footer-logo-container img {
	height: 2.5em;
	margin: 0.4em 1.5em;
	margin-left: 0;
	float: left;
}

#footer-name-container {
	float: left;
}

#footer-name-container span {
	font-size: 1em;
}

#footer-navTable-container {
	margin-left: 3em;
}

#footer-navTable-container table {
	background-color: transparent;
	border: 0;
}

#footer-navTable-container table tr, #footer-navTable-container table th, #footer-navTable-container table td {
	background-color: transparent;
	border: 0;
}

#footer-navTable-container tr, #footer-navTable-container tr a {
	color: white;
	font-size: 0.8em;
}

#footer-navTable-container td, #footer-navTable-container td a {
	color: #c0c0c0 !important;
}

#footer-navTable-container tr td, #footer-navTable-container tr th {
	padding-right: 2em;
	min-width: 6em;
}

#footer-copyright-container {
	margin-top: 55%;
}

#footer-copyright-container h6{
	color: white;
	font-size: 0.7em;
}

#footer-copyright-container h6 a{
	color: white;
	font-size: 0.7em;
}

/******************************** General Animation ********************************/
.more-button-ani {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.more-button-ani img {
	height: 0.9em;
	margin-top: -0.1em;
	margin-left: 0.7em;
}

.more-button-ani:hover {
	margin-left: 2em;
}

