/******************************** Slider ********************************/
#banner-content-container {
	margin: 2em 0 0 0;
}

#slider-main-container {

}

#slider-main-container img {
	width: 100%;
	border-radius: 0.6em;
	transition: all 0.5s;
}

#slider-sub-columns {
	/*padding: 0;*/
	/*padding-bottom: 4em;*/
}

#slider-sub-container {
}

#slider-sub-container #slider-sub-items-list {
	/*height: 80%;*/
	margin-left: -1.6em;
}

#slider-sub-container #slider-sub-items-list li {
	padding: 0;
}

#slider-sub-container #slider-sub-items-list li img {
	/*height: 1%;*/
	width: 94.5%;
}

#slider-sub-container #slider-sub-items-list li:first-child img {
	border-radius: 0.7em 0.7em 0 0;
}

#slider-sub-container #slider-sub-items-list li:last-child img {
	border-radius: 0 0 0.7em 0.7em;
}

#slider-button-container {
	margin-top: -8%;
	margin-left: -1.6em;
}

#slider-button-container h6{
	margin: 0;
}

#slider-button-container img{
	width: 14%;
}

#slider-button-container img:hover{
	cursor: pointer;
}

/******************************** Categories ********************************/
#categories-content-container {
	margin-top: 1.5em;
	margin-bottom: 3em;
}
#categories-content-container .tab-button {
	padding: 0.8em 1.6em;
	background-color: white;
	color: black;
}

#categories-content-container .active{
	background-color: #e81953 !important;
	color: white !important;
}
